hover($opacity = 0.8)
  cursor: pointer
  &:hover
    opacity: $opacity

centering()
  position: absolute
  margin: auto
  top: 0
  left: 0
  right: 0
  bottom: 0

monospaced-font()
  font-family: "Courier New",Consolas,monospace
