flex()
  display: flex
  justify-content: space-between

hover($opacity = 0.8)
  cursor: pointer
  &:hover
    opacity: $opacity

centering()
  position: absolute
  margin: auto
  top: 0
  left: 0
  right: 0
  bottom: 0

monospaced-font()
  font-family: "Courier New",Consolas,monospace

circle-icon($size = 30px)
  calculatedPadding = $size / 5
  background-color: color5
  color: color1
  padding: calculatedPadding
  border-radius: 50%
  width: $size
  height: $size

text-truncate($font-size = 16px, $line-height = 1.8, $line = 3, $bg = #fff)
  position: relative
  max-height: 'calc(%s * %s * %s)' % ($font-size $line-height $line)
  font-size: $font-size
  line-height: $line-height
  overflow: hidden
  &::before, &::after
    position: absolute
    background: $bg
  &::before
    content: '...'
    top: 'calc(%s * %s * (%s - 1))' % ($font-size $line-height $line)
    right: 0
    width: 1em
  &::after
    content: ''
    width: 100%
    height: 100%

event-card()
  margin-bottom: 20px
  .title
    display: inline-block
    &:hover
      text-decoration: underline
    h3
      font-size: 20px
  .description
    .markdown
      word-break: break-word
      overflow: scroll
      max-height: 200px
      border: 1px solid color2
      border-radius: 4px
      padding: 5px
      background-color: #f7f7f7
  h4
    font-size: 16px
    margin: 10px 0
  .datetime
    h4
      margin-top: 0
    p
      font-size: 16px
      color: gray
    .date
      margin-right: 10px
  .joining-link
    .link
      color: linkColor
      &:hover
        text-decoration: underline
    .-not-joining
      color: gray
  .users
    &__list
      display: flex
      flex-wrap: wrap
  .user
    margin-right: 5px
    margin-bottom: 5px
