html
  color: #303133
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif
  background-color: #eee

*
  margin: 0
  padding: 0
  box-sizing: border-box
  list-style: none

body
  font-size: 14px

h1
  font-size: 24px
h2
  font-size: 15px
a
  text-decoration: none
  color: inherit

.-hover:hover
  opacity: 0.8
  cursor: pointer

.icon
  vertical-align: text-bottom
  width: 15px
  height: 15px
  &.-l
    margin-left: 5px
  &.-ll
    margin-left: 10px
  &.-r
    margin-right: 5px
  &.-rr
    margin-right: 10px
  &.-mini
    width: 12px
    height: 12px
  &.-tiny
    width: 8px
    height: 8px
    vertical-align: middle
  &.-large
    width: 20px
    height: 20px
