.el-button
  border: none
  hover()
  &.el-button
    &--primary
      background-color: color4
      color: color1
      &.is-disabled
        opacity: 0.8
        background-color: color4
        color: color1
        cursor: auto
    &--default
      background-color: color1
      color: color4
      &.is-disabled
        opacity: 0.8
        background-color: color1
        color: color4
        cursor: auto
