markdown()
  h1
    font-size: 20px
    margin-bottom: 5px
  h2
    font-size: 18px
    margin-bottom: 5px
  p
    margin-bottom: 5px
  ul
    padding-left: 20px
    li
      list-style: square
      font-size: 14px
      margin-bottom: 5px
      ul
        margin-top: 5px
  a
    color: #409eff
    word-wrap: break-word
    &:hover
      text-decoration: underline
  code
    background-color: #e8e9eb
    monospaced-font()
    font-weight: bold
    padding: 0 2px
    border-radius: 3px
  pre
    background-color: #e8e9eb
    padding: 10px
    font-size: 85%
    line-height: 1.45
    border-radius: 3px
    word-wrap: normal
    margin-bottom: 5px
